.bg-red-100 {
  background-color: #fee6e4;
}

.text-red-100 {
  color: #fee6e4;
}

.bg-red-900 {
  background-color: #6c0d06;
}

.text-red-900 {
  color: #6c0d06;
}

.bg-red-200 {
  background-color: #fbbdb9;
}

.text-red-200 {
  color: #fbbdb9;
}

.bg-red-800 {
  background-color: #981208;
}

.text-red-800 {
  color: #981208;
}

.bg-red-300 {
  background-color: #f9948d;
}

.text-red-300 {
  color: #f9948d;
}

.bg-red-700 {
  background-color: #c4170b;
}

.text-red-700 {
  color: #c4170b;
}

.bg-red-400 {
  background-color: #f66c62;
}

.text-red-400 {
  color: #f66c62;
}

.bg-red-600 {
  background-color: #ef1d0d;
}

.text-red-600 {
  color: #ef1d0d;
}

.bg-red-50 {
  background-color: #fef2f1;
}

.text-red-50 {
  color: #fef2f1;
}

.bg-red-500 {
  background-color: #F44336;
}

.text-red-500 {
  color: #F44336;
}

.bg-pink-100 {
  background-color: #f9c5d7;
}

.text-pink-100 {
  color: #f9c5d7;
}

.bg-pink-900 {
  background-color: #48071d;
}

.text-pink-900 {
  color: #48071d;
}

.bg-pink-200 {
  background-color: #f59bba;
}

.text-pink-200 {
  color: #f59bba;
}

.bg-pink-800 {
  background-color: #720b2e;
}

.text-pink-800 {
  color: #720b2e;
}

.bg-pink-300 {
  background-color: #f1729d;
}

.text-pink-300 {
  color: #f1729d;
}

.bg-pink-700 {
  background-color: #9c0f3f;
}

.text-pink-700 {
  color: #9c0f3f;
}

.bg-pink-400 {
  background-color: #ed4880;
}

.text-pink-400 {
  color: #ed4880;
}

.bg-pink-600 {
  background-color: #c61350;
}

.text-pink-600 {
  color: #c61350;
}

.bg-pink-50 {
  background-color: #fbd2e0;
}

.text-pink-50 {
  color: #fbd2e0;
}

.bg-pink-500 {
  background-color: #E91E63;
}

.text-pink-500 {
  color: #E91E63;
}

.bg-purple-100 {
  background-color: #e0a4eb;
}

.text-purple-100 {
  color: #e0a4eb;
}

.bg-purple-900 {
  background-color: #17061a;
}

.text-purple-900 {
  color: #17061a;
}

.bg-purple-200 {
  background-color: #d47ee2;
}

.text-purple-200 {
  color: #d47ee2;
}

.bg-purple-800 {
  background-color: #380e3f;
}

.text-purple-800 {
  color: #380e3f;
}

.bg-purple-300 {
  background-color: #c759da;
}

.text-purple-300 {
  color: #c759da;
}

.bg-purple-700 {
  background-color: #591665;
}

.text-purple-700 {
  color: #591665;
}

.bg-purple-400 {
  background-color: #bb33d2;
}

.text-purple-400 {
  color: #bb33d2;
}

.bg-purple-600 {
  background-color: #7b1f8a;
}

.text-purple-600 {
  color: #7b1f8a;
}

.bg-purple-50 {
  background-color: #e4afed;
}

.text-purple-50 {
  color: #e4afed;
}

.bg-purple-500 {
  background-color: #9C27B0;
}

.text-purple-500 {
  color: #9C27B0;
}

.bg-deep-purple-100 {
  background-color: #cebeea;
}

.text-deep-purple-100 {
  color: #cebeea;
}

.bg-deep-purple-900 {
  background-color: #190e2c;
}

.text-deep-purple-900 {
  color: #190e2c;
}

.bg-deep-purple-200 {
  background-color: #b49bdf;
}

.text-deep-purple-200 {
  color: #b49bdf;
}

.bg-deep-purple-800 {
  background-color: #2c194e;
}

.text-deep-purple-800 {
  color: #2c194e;
}

.bg-deep-purple-300 {
  background-color: #9a78d4;
}

.text-deep-purple-300 {
  color: #9a78d4;
}

.bg-deep-purple-700 {
  background-color: #402471;
}

.text-deep-purple-700 {
  color: #402471;
}

.bg-deep-purple-400 {
  background-color: #7f56c9;
}

.text-deep-purple-400 {
  color: #7f56c9;
}

.bg-deep-purple-600 {
  background-color: #532f94;
}

.text-deep-purple-600 {
  color: #532f94;
}

.bg-deep-purple-50 {
  background-color: #d6c9ee;
}

.text-deep-purple-50 {
  color: #d6c9ee;
}

.bg-deep-purple-500 {
  background-color: #673AB7;
}

.text-deep-purple-500 {
  color: #673AB7;
}

.bg-indigo-100 {
  background-color: #c2c8ea;
}

.text-indigo-100 {
  color: #c2c8ea;
}

.bg-indigo-900 {
  background-color: #10142d;
}

.text-indigo-900 {
  color: #10142d;
}

.bg-indigo-200 {
  background-color: #a0a9de;
}

.text-indigo-200 {
  color: #a0a9de;
}

.bg-indigo-800 {
  background-color: #1b234f;
}

.text-indigo-800 {
  color: #1b234f;
}

.bg-indigo-300 {
  background-color: #7e8bd2;
}

.text-indigo-300 {
  color: #7e8bd2;
}

.bg-indigo-700 {
  background-color: #273371;
}

.text-indigo-700 {
  color: #273371;
}

.bg-indigo-400 {
  background-color: #5c6cc6;
}

.text-indigo-400 {
  color: #5c6cc6;
}

.bg-indigo-600 {
  background-color: #334293;
}

.text-indigo-600 {
  color: #334293;
}

.bg-indigo-50 {
  background-color: #ccd1ed;
}

.text-indigo-50 {
  color: #ccd1ed;
}

.bg-indigo-500 {
  background-color: #3F51B5;
}

.text-indigo-500 {
  color: #3F51B5;
}

.bg-blue-100 {
  background-color: #cfe8fc;
}

.text-blue-100 {
  color: #cfe8fc;
}

.bg-blue-900 {
  background-color: #053358;
}

.text-blue-900 {
  color: #053358;
}

.bg-blue-200 {
  background-color: #a4d4fa;
}

.text-blue-200 {
  color: #a4d4fa;
}

.bg-blue-800 {
  background-color: #074c83;
}

.text-blue-800 {
  color: #074c83;
}

.bg-blue-300 {
  background-color: #78bff8;
}

.text-blue-300 {
  color: #78bff8;
}

.bg-blue-700 {
  background-color: #0966af;
}

.text-blue-700 {
  color: #0966af;
}

.bg-blue-400 {
  background-color: #4dabf5;
}

.text-blue-400 {
  color: #4dabf5;
}

.bg-blue-600 {
  background-color: #0c7fda;
}

.text-blue-600 {
  color: #0c7fda;
}

.bg-blue-50 {
  background-color: #dceffd;
}

.text-blue-50 {
  color: #dceffd;
}

.bg-blue-500 {
  background-color: #2196F3;
}

.text-blue-500 {
  color: #2196F3;
}

.bg-light-blue-100 {
  background-color: #b1e6fe;
}

.text-light-blue-100 {
  color: #b1e6fe;
}

.bg-light-blue-900 {
  background-color: #012b3f;
}

.text-light-blue-900 {
  color: #012b3f;
}

.bg-light-blue-200 {
  background-color: #83d7fd;
}

.text-light-blue-200 {
  color: #83d7fd;
}

.bg-light-blue-800 {
  background-color: #014b6c;
}

.text-light-blue-800 {
  color: #014b6c;
}

.bg-light-blue-300 {
  background-color: #56c9fd;
}

.text-light-blue-300 {
  color: #56c9fd;
}

.bg-light-blue-700 {
  background-color: #026a99;
}

.text-light-blue-700 {
  color: #026a99;
}

.bg-light-blue-400 {
  background-color: #29bafc;
}

.text-light-blue-400 {
  color: #29bafc;
}

.bg-light-blue-600 {
  background-color: #028ac7;
}

.text-light-blue-600 {
  color: #028ac7;
}

.bg-light-blue-50 {
  background-color: #beeafe;
}

.text-light-blue-50 {
  color: #beeafe;
}

.bg-light-blue-500 {
  background-color: #03A9F4;
}

.text-light-blue-500 {
  color: #03A9F4;
}

.bg-cyan-100 {
  background-color: #8df2ff;
}

.text-cyan-100 {
  color: #8df2ff;
}

.bg-cyan-900 {
  background-color: #00191c;
}

.text-cyan-900 {
  color: #00191c;
}

.bg-cyan-200 {
  background-color: #5fedff;
}

.text-cyan-200 {
  color: #5fedff;
}

.bg-cyan-800 {
  background-color: #00424a;
}

.text-cyan-800 {
  color: #00424a;
}

.bg-cyan-300 {
  background-color: #31e8ff;
}

.text-cyan-300 {
  color: #31e8ff;
}

.bg-cyan-700 {
  background-color: #006b78;
}

.text-cyan-700 {
  color: #006b78;
}

.bg-cyan-400 {
  background-color: #03e2ff;
}

.text-cyan-400 {
  color: #03e2ff;
}

.bg-cyan-600 {
  background-color: #0093a6;
}

.text-cyan-600 {
  color: #0093a6;
}

.bg-cyan-50 {
  background-color: #9af4ff;
}

.text-cyan-50 {
  color: #9af4ff;
}

.bg-cyan-500 {
  background-color: #00BCD4;
}

.text-cyan-500 {
  color: #00BCD4;
}

.bg-teal-100 {
  background-color: #4fffef;
}

.text-teal-100 {
  color: #4fffef;
}

.bg-teal-900 {
  background-color: black;
}

.text-teal-900 {
  color: black;
}

.bg-teal-200 {
  background-color: #21ffea;
}

.text-teal-200 {
  color: #21ffea;
}

.bg-teal-800 {
  background-color: #000c0b;
}

.text-teal-800 {
  color: #000c0b;
}

.bg-teal-300 {
  background-color: #00f2db;
}

.text-teal-300 {
  color: #00f2db;
}

.bg-teal-700 {
  background-color: #003a35;
}

.text-teal-700 {
  color: #003a35;
}

.bg-teal-400 {
  background-color: #00c4b2;
}

.text-teal-400 {
  color: #00c4b2;
}

.bg-teal-600 {
  background-color: #00685e;
}

.text-teal-600 {
  color: #00685e;
}

.bg-teal-50 {
  background-color: #5cfff0;
}

.text-teal-50 {
  color: #5cfff0;
}

.bg-teal-500 {
  background-color: #009688;
}

.text-teal-500 {
  color: #009688;
}

.bg-green-100 {
  background-color: #cae8cc;
}

.text-green-100 {
  color: #cae8cc;
}

.bg-green-900 {
  background-color: #142f15;
}

.text-green-900 {
  color: #142f15;
}

.bg-green-200 {
  background-color: #aadaac;
}

.text-green-200 {
  color: #aadaac;
}

.bg-green-800 {
  background-color: #224f24;
}

.text-green-800 {
  color: #224f24;
}

.bg-green-300 {
  background-color: #8acc8d;
}

.text-green-300 {
  color: #8acc8d;
}

.bg-green-700 {
  background-color: #306f33;
}

.text-green-700 {
  color: #306f33;
}

.bg-green-400 {
  background-color: #6abe6e;
}

.text-green-400 {
  color: #6abe6e;
}

.bg-green-600 {
  background-color: #3e8f41;
}

.text-green-600 {
  color: #3e8f41;
}

.bg-green-50 {
  background-color: #d4ecd5;
}

.text-green-50 {
  color: #d4ecd5;
}

.bg-green-500 {
  background-color: #4CAF50;
}

.text-green-500 {
  color: #4CAF50;
}

.bg-light-green-100 {
  background-color: #e3f1d4;
}

.text-light-green-100 {
  color: #e3f1d4;
}

.bg-light-green-900 {
  background-color: #2c4015;
}

.text-light-green-900 {
  color: #2c4015;
}

.bg-light-green-200 {
  background-color: #cde5b1;
}

.text-light-green-200 {
  color: #cde5b1;
}

.bg-light-green-800 {
  background-color: #446321;
}

.text-light-green-800 {
  color: #446321;
}

.bg-light-green-300 {
  background-color: #b7da8f;
}

.text-light-green-300 {
  color: #b7da8f;
}

.bg-light-green-700 {
  background-color: #5c852c;
}

.text-light-green-700 {
  color: #5c852c;
}

.bg-light-green-400 {
  background-color: #a1ce6c;
}

.text-light-green-400 {
  color: #a1ce6c;
}

.bg-light-green-600 {
  background-color: #74a838;
}

.text-light-green-600 {
  color: #74a838;
}

.bg-light-green-50 {
  background-color: #eaf4de;
}

.text-light-green-50 {
  color: #eaf4de;
}

.bg-light-green-500 {
  background-color: #8BC34A;
}

.text-light-green-500 {
  color: #8BC34A;
}

.bg-lime-100 {
  background-color: #f4f8d5;
}

.text-lime-100 {
  color: #f4f8d5;
}

.bg-lime-900 {
  background-color: #494f0e;
}

.text-lime-900 {
  color: #494f0e;
}

.bg-lime-200 {
  background-color: #ebf1ae;
}

.text-lime-200 {
  color: #ebf1ae;
}

.bg-lime-800 {
  background-color: #6d7615;
}

.text-lime-800 {
  color: #6d7615;
}

.bg-lime-300 {
  background-color: #e1ea87;
}

.text-lime-300 {
  color: #e1ea87;
}

.bg-lime-700 {
  background-color: #919d1c;
}

.text-lime-700 {
  color: #919d1c;
}

.bg-lime-400 {
  background-color: #d7e360;
}

.text-lime-400 {
  color: #d7e360;
}

.bg-lime-600 {
  background-color: #b6c423;
}

.text-lime-600 {
  color: #b6c423;
}

.bg-lime-50 {
  background-color: #f7fae1;
}

.text-lime-50 {
  color: #f7fae1;
}

.bg-lime-500 {
  background-color: #CDDC39;
}

.text-lime-500 {
  color: #CDDC39;
}

.bg-yellow-100 {
  background-color: #fffef3;
}

.text-yellow-100 {
  color: #fffef3;
}

.bg-yellow-900 {
  background-color: #827500;
}

.text-yellow-900 {
  color: #827500;
}

.bg-yellow-200 {
  background-color: #fff9c5;
}

.text-yellow-200 {
  color: #fff9c5;
}

.bg-yellow-800 {
  background-color: #b09e00;
}

.text-yellow-800 {
  color: #b09e00;
}

.bg-yellow-300 {
  background-color: #fff497;
}

.text-yellow-300 {
  color: #fff497;
}

.bg-yellow-700 {
  background-color: #dec800;
}

.text-yellow-700 {
  color: #dec800;
}

.bg-yellow-400 {
  background-color: #fff069;
}

.text-yellow-400 {
  color: #fff069;
}

.bg-yellow-600 {
  background-color: #ffe60d;
}

.text-yellow-600 {
  color: #ffe60d;
}

.bg-yellow-50 {
  background-color: white;
}

.text-yellow-50 {
  color: white;
}

.bg-yellow-500 {
  background-color: #FFEB3B;
}

.text-yellow-500 {
  color: #FFEB3B;
}

.bg-amber-100 {
  background-color: #ffefbf;
}

.text-amber-100 {
  color: #ffefbf;
}

.bg-amber-900 {
  background-color: #4e3b00;
}

.text-amber-900 {
  color: #4e3b00;
}

.bg-amber-200 {
  background-color: #ffe391;
}

.text-amber-200 {
  color: #ffe391;
}

.bg-amber-800 {
  background-color: #7c5d00;
}

.text-amber-800 {
  color: #7c5d00;
}

.bg-amber-300 {
  background-color: #ffd863;
}

.text-amber-300 {
  color: #ffd863;
}

.bg-amber-700 {
  background-color: #aa8000;
}

.text-amber-700 {
  color: #aa8000;
}

.bg-amber-400 {
  background-color: #ffcc35;
}

.text-amber-400 {
  color: #ffcc35;
}

.bg-amber-600 {
  background-color: #d8a200;
}

.text-amber-600 {
  color: #d8a200;
}

.bg-amber-50 {
  background-color: #fff2cc;
}

.text-amber-50 {
  color: #fff2cc;
}

.bg-amber-500 {
  background-color: #FFC107;
}

.text-amber-500 {
  color: #FFC107;
}

.bg-orange-100 {
  background-color: #ffe2b8;
}

.text-orange-100 {
  color: #ffe2b8;
}

.bg-orange-900 {
  background-color: #472b00;
}

.text-orange-900 {
  color: #472b00;
}

.bg-orange-200 {
  background-color: #ffd08a;
}

.text-orange-200 {
  color: #ffd08a;
}

.bg-orange-800 {
  background-color: #754600;
}

.text-orange-800 {
  color: #754600;
}

.bg-orange-300 {
  background-color: #ffbd5c;
}

.text-orange-300 {
  color: #ffbd5c;
}

.bg-orange-700 {
  background-color: #a36100;
}

.text-orange-700 {
  color: #a36100;
}

.bg-orange-400 {
  background-color: #ffab2e;
}

.text-orange-400 {
  color: #ffab2e;
}

.bg-orange-600 {
  background-color: #d17d00;
}

.text-orange-600 {
  color: #d17d00;
}

.bg-orange-50 {
  background-color: #ffe8c5;
}

.text-orange-50 {
  color: #ffe8c5;
}

.bg-orange-500 {
  background-color: #FF9800;
}

.text-orange-500 {
  color: #FF9800;
}

.bg-deep-orange-100 {
  background-color: #ffe3da;
}

.text-deep-orange-100 {
  color: #ffe3da;
}

.bg-deep-orange-900 {
  background-color: #691900;
}

.text-deep-orange-900 {
  color: #691900;
}

.bg-deep-orange-200 {
  background-color: #ffc0ac;
}

.text-deep-orange-200 {
  color: #ffc0ac;
}

.bg-deep-orange-800 {
  background-color: #972400;
}

.text-deep-orange-800 {
  color: #972400;
}

.bg-deep-orange-300 {
  background-color: #ff9d7e;
}

.text-deep-orange-300 {
  color: #ff9d7e;
}

.bg-deep-orange-700 {
  background-color: #c52f00;
}

.text-deep-orange-700 {
  color: #c52f00;
}

.bg-deep-orange-400 {
  background-color: #ff7a50;
}

.text-deep-orange-400 {
  color: #ff7a50;
}

.bg-deep-orange-600 {
  background-color: #f33a00;
}

.text-deep-orange-600 {
  color: #f33a00;
}

.bg-deep-orange-50 {
  background-color: #ffede7;
}

.text-deep-orange-50 {
  color: #ffede7;
}

.bg-deep-orange-500 {
  background-color: #FF5722;
}

.text-deep-orange-500 {
  color: #FF5722;
}

.bg-brown-100 {
  background-color: #cdb4ab;
}

.text-brown-100 {
  color: #cdb4ab;
}

.bg-brown-900 {
  background-color: #060404;
}

.text-brown-900 {
  color: #060404;
}

.bg-brown-200 {
  background-color: #bc9b8f;
}

.text-brown-200 {
  color: #bc9b8f;
}

.bg-brown-800 {
  background-color: #231815;
}

.text-brown-800 {
  color: #231815;
}

.bg-brown-300 {
  background-color: #ab8172;
}

.text-brown-300 {
  color: #ab8172;
}

.bg-brown-700 {
  background-color: #3f2d26;
}

.text-brown-700 {
  color: #3f2d26;
}

.bg-brown-400 {
  background-color: #966959;
}

.text-brown-400 {
  color: #966959;
}

.bg-brown-600 {
  background-color: #5c4137;
}

.text-brown-600 {
  color: #5c4137;
}

.bg-brown-50 {
  background-color: #d2bcb4;
}

.text-brown-50 {
  color: #d2bcb4;
}

.bg-brown-500 {
  background-color: #795548;
}

.text-brown-500 {
  color: #795548;
}

.bg-grey-100 {
  background-color: #fafafa;
}

.text-grey-100 {
  color: #fafafa;
}

.bg-grey-900 {
  background-color: #424242;
}

.text-grey-900 {
  color: #424242;
}

.bg-grey-200 {
  background-color: #e3e3e3;
}

.text-grey-200 {
  color: #e3e3e3;
}

.bg-grey-800 {
  background-color: #595959;
}

.text-grey-800 {
  color: #595959;
}

.bg-grey-300 {
  background-color: #cccccc;
}

.text-grey-300 {
  color: #cccccc;
}

.bg-grey-700 {
  background-color: #707070;
}

.text-grey-700 {
  color: #707070;
}

.bg-grey-400 {
  background-color: #b5b5b5;
}

.text-grey-400 {
  color: #b5b5b5;
}

.bg-grey-600 {
  background-color: #878787;
}

.text-grey-600 {
  color: #878787;
}

.bg-grey-50 {
  background-color: white;
}

.text-grey-50 {
  color: white;
}

.bg-grey-500 {
  background-color: #9E9E9E;
}

.text-grey-500 {
  color: #9E9E9E;
}

.bg-blue-grey-100 {
  background-color: #c9d4da;
}

.text-blue-grey-100 {
  color: #c9d4da;
}

.bg-blue-grey-900 {
  background-color: #151b1e;
}

.text-blue-grey-900 {
  color: #151b1e;
}

.bg-blue-grey-200 {
  background-color: #aebfc7;
}

.text-blue-grey-200 {
  color: #aebfc7;
}

.bg-blue-grey-800 {
  background-color: #28343a;
}

.text-blue-grey-800 {
  color: #28343a;
}

.bg-blue-grey-300 {
  background-color: #93a9b4;
}

.text-blue-grey-300 {
  color: #93a9b4;
}

.bg-blue-grey-700 {
  background-color: #3a4c55;
}

.text-blue-grey-700 {
  color: #3a4c55;
}

.bg-blue-grey-400 {
  background-color: #7794a1;
}

.text-blue-grey-400 {
  color: #7794a1;
}

.bg-blue-grey-600 {
  background-color: #4d6570;
}

.text-blue-grey-600 {
  color: #4d6570;
}

.bg-blue-grey-50 {
  background-color: #d1dbdf;
}

.text-blue-grey-50 {
  color: #d1dbdf;
}

.bg-blue-grey-500 {
  background-color: #607D8B;
}

.text-blue-grey-500 {
  color: #607D8B;
}/*# sourceMappingURL=colors-generator.css.map */