.bg-redColor-100 {
  background-color: #fee6e4;
}
.bg-redColor-100::before {
  content: "#fee6e4";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-100 {
  color: #fee6e4;
}

.bg-redColor-900 {
  background-color: #6c0d06;
}
.bg-redColor-900::before {
  content: "#6c0d06";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-900 {
  color: #6c0d06;
}

.bg-redColor-200 {
  background-color: #fbbdb9;
}
.bg-redColor-200::before {
  content: "#fbbdb9";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-200 {
  color: #fbbdb9;
}

.bg-redColor-800 {
  background-color: #981208;
}
.bg-redColor-800::before {
  content: "#981208";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-800 {
  color: #981208;
}

.bg-redColor-300 {
  background-color: #f9948d;
}
.bg-redColor-300::before {
  content: "#f9948d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-300 {
  color: #f9948d;
}

.bg-redColor-700 {
  background-color: #c4170b;
}
.bg-redColor-700::before {
  content: "#c4170b";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-700 {
  color: #c4170b;
}

.bg-redColor-400 {
  background-color: #f66c62;
}
.bg-redColor-400::before {
  content: "#f66c62";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-400 {
  color: #f66c62;
}

.bg-redColor-600 {
  background-color: #ef1d0d;
}
.bg-redColor-600::before {
  content: "#ef1d0d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-600 {
  color: #ef1d0d;
}

.bg-redColor-50 {
  background-color: #fef2f1;
}
.bg-redColor-50::before {
  content: "#fef2f1";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-50 {
  color: #fef2f1;
}

.bg-redColor-500 {
  background-color: #F44336;
}
.bg-redColor-500::before {
  content: "#F44336";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-redColor-500 {
  color: #F44336;
}

.bg-pinkColor-100 {
  background-color: #f9c5d7;
}
.bg-pinkColor-100::before {
  content: "#f9c5d7";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-100 {
  color: #f9c5d7;
}

.bg-pinkColor-900 {
  background-color: #48071d;
}
.bg-pinkColor-900::before {
  content: "#48071d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-900 {
  color: #48071d;
}

.bg-pinkColor-200 {
  background-color: #f59bba;
}
.bg-pinkColor-200::before {
  content: "#f59bba";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-200 {
  color: #f59bba;
}

.bg-pinkColor-800 {
  background-color: #720b2e;
}
.bg-pinkColor-800::before {
  content: "#720b2e";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-800 {
  color: #720b2e;
}

.bg-pinkColor-300 {
  background-color: #f1729d;
}
.bg-pinkColor-300::before {
  content: "#f1729d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-300 {
  color: #f1729d;
}

.bg-pinkColor-700 {
  background-color: #9c0f3f;
}
.bg-pinkColor-700::before {
  content: "#9c0f3f";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-700 {
  color: #9c0f3f;
}

.bg-pinkColor-400 {
  background-color: #ed4880;
}
.bg-pinkColor-400::before {
  content: "#ed4880";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-400 {
  color: #ed4880;
}

.bg-pinkColor-600 {
  background-color: #c61350;
}
.bg-pinkColor-600::before {
  content: "#c61350";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-600 {
  color: #c61350;
}

.bg-pinkColor-50 {
  background-color: #fbd2e0;
}
.bg-pinkColor-50::before {
  content: "#fbd2e0";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-50 {
  color: #fbd2e0;
}

.bg-pinkColor-500 {
  background-color: #E91E63;
}
.bg-pinkColor-500::before {
  content: "#E91E63";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-pinkColor-500 {
  color: #E91E63;
}

.bg-purpleColor-100 {
  background-color: #e0a4eb;
}
.bg-purpleColor-100::before {
  content: "#e0a4eb";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-100 {
  color: #e0a4eb;
}

.bg-purpleColor-900 {
  background-color: #17061a;
}
.bg-purpleColor-900::before {
  content: "#17061a";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-900 {
  color: #17061a;
}

.bg-purpleColor-200 {
  background-color: #d47ee2;
}
.bg-purpleColor-200::before {
  content: "#d47ee2";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-200 {
  color: #d47ee2;
}

.bg-purpleColor-800 {
  background-color: #380e3f;
}
.bg-purpleColor-800::before {
  content: "#380e3f";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-800 {
  color: #380e3f;
}

.bg-purpleColor-300 {
  background-color: #c759da;
}
.bg-purpleColor-300::before {
  content: "#c759da";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-300 {
  color: #c759da;
}

.bg-purpleColor-700 {
  background-color: #591665;
}
.bg-purpleColor-700::before {
  content: "#591665";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-700 {
  color: #591665;
}

.bg-purpleColor-400 {
  background-color: #bb33d2;
}
.bg-purpleColor-400::before {
  content: "#bb33d2";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-400 {
  color: #bb33d2;
}

.bg-purpleColor-600 {
  background-color: #7b1f8a;
}
.bg-purpleColor-600::before {
  content: "#7b1f8a";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-600 {
  color: #7b1f8a;
}

.bg-purpleColor-50 {
  background-color: #e4afed;
}
.bg-purpleColor-50::before {
  content: "#e4afed";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-50 {
  color: #e4afed;
}

.bg-purpleColor-500 {
  background-color: #9C27B0;
}
.bg-purpleColor-500::before {
  content: "#9C27B0";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-purpleColor-500 {
  color: #9C27B0;
}

.bg-yellowColor-100 {
  background-color: #fffef3;
}
.bg-yellowColor-100::before {
  content: "#fffef3";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-100 {
  color: #fffef3;
}

.bg-yellowColor-900 {
  background-color: #827500;
}
.bg-yellowColor-900::before {
  content: "#827500";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-900 {
  color: #827500;
}

.bg-yellowColor-200 {
  background-color: #fff9c5;
}
.bg-yellowColor-200::before {
  content: "#fff9c5";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-200 {
  color: #fff9c5;
}

.bg-yellowColor-800 {
  background-color: #b09e00;
}
.bg-yellowColor-800::before {
  content: "#b09e00";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-800 {
  color: #b09e00;
}

.bg-yellowColor-300 {
  background-color: #fff497;
}
.bg-yellowColor-300::before {
  content: "#fff497";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-300 {
  color: #fff497;
}

.bg-yellowColor-700 {
  background-color: #dec800;
}
.bg-yellowColor-700::before {
  content: "#dec800";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-700 {
  color: #dec800;
}

.bg-yellowColor-400 {
  background-color: #fff069;
}
.bg-yellowColor-400::before {
  content: "#fff069";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-400 {
  color: #fff069;
}

.bg-yellowColor-600 {
  background-color: #ffe60d;
}
.bg-yellowColor-600::before {
  content: "#ffe60d";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-600 {
  color: #ffe60d;
}

.bg-yellowColor-50 {
  background-color: white;
}
.bg-yellowColor-50::before {
  content: "white";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-50 {
  color: white;
}

.bg-yellowColor-500 {
  background-color: #FFEB3B;
}
.bg-yellowColor-500::before {
  content: "#FFEB3B";
  font-family: monospace;
  float: right;
  text-transform: uppercase;
}

.text-yellowColor-500 {
  color: #FFEB3B;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.swatches {
  flex: auto;
  margin: 20px;
}

.swatch-title {
  padding: 12px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.swatch-title h3 {
  margin: 0 0 50px;
  font-size: inherit;
}

.color-swatch:nth-child(n+7) {
  color: #fff;
}

.color-swatch {
  box-sizing: border-box;
  min-width: 360px;
  padding: 12px;
  display: block;
  font-weight: bold;
}/*# sourceMappingURL=colors-generator.css.map */